* { 
    margin: 0px;
    background-color: black;
    font-family: Calibri;
    color: white;
}

@media (max-width: 420px) {
    * {
        max-width: 420px;
    }
}

.header {
    display: flex;
    align-items: center;
}

.header p {
    font-size: 30px;
}

.gatau {
    margin-left: auto;
}

.LogIn {
    background-color: black;
    border: 1px solid black;
    border-radius: 40%;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 15px;
    cursor: pointer;
}

.SignUp {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 40%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.teks {
    margin-top: 80px;
    margin-left: 20px;
}

.teks h1 {
    font-size: 50px;
}

.teks p {
    font-size: 20px;
    margin-top: 20px;
    width: 400px;
}

.tujuan {
    position: relative;
    margin-top: 12px;
    margin-left: 20px;
}

.tujuan input {
  width: 80%;
  padding: 14px 40px 14px 14px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: white;
  color: black;

}

.atas {
     margin-bottom: 10px;
}

button {
    margin-top: 20px;
  background: #fff;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width: 20%;
}

img {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
  border-radius: 20px;

}
